<div class="homepage homepage-bg">
    <!-- The sidebar -->
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a <%= link_to 'Candidates', candidates_path %></a>
      <a <%= link_to 'Jobs' %></a>
      <a <%= link_to 'Companies' %></a>
    </div>
  <!-- Page content -->
      <div class="content">
      </div>
</div>




