<div class="homepage homepage-bg">
    <!-- The sidebar -->
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a <%= link_to 'Jobs', jobs_path %></a>
      <a <%= link_to 'Candidates', candidates_path %></a>
      <a <%= link_to 'Companies', companies_path %></a>
    </div>
</div>
<!-- Page content -->
<div>
<p>Jobs</p>
</div>




