<div class="homepage homepage-bg">
    <!-- The sidebar -->
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a <%= link_to 'Jobs', jobs_path %></a>
      <a <%= link_to 'Candidates', candidates_path %></a>
      <a <%= link_to 'Companies', companies_path %></a>
      <a <%= link_to 'Contacts', contacts_path %></a>
    </div>
</div>
<!-- Page content -->
<div>
  <h1><center>Jobs</center></h1>
    <% if @jobs.blank? %>
    <p><center>There are no jobs</center></p>
    <% else %>
    <p><center>Current Jobs:</center></p>
    <% end %>
</div>
