<div class="container">
  <h1>Candidates</h1>
  <% @candidates.each do |candidate| %>
  <%= link_to candidate.name, candidate_path(candidate), candidate_path(candidate), class: 'btn btn-primary' %>
  <% end %>
</div>

  <%= link_to 'Add Candidate', new_candidate_path %>


