<div class="container">
  <h1>"My Candidates"</h1>

  <%= link_to 'Add Candidate', new_candidate_path %>

  <% @candidates.each do |candidate| %>
  <h1><%= candidate.name %></h1>
  <%= link_to 'View candidates', candidate_path(candidate), class: 'btn btn-primary' %>
  <% end %>
</div>
