<div class="container">
  <h1>Companies</h1>
  <% @companies.each do |company| %>
  <%= link_to @company.name, company_path(company), class: 'btn btn-primary' %>
  <% end %>
</div>

<%= link_to 'Add Company', new_company_path %>
<br><a href="/">Previous Page</a>
